<!-- bottom section -->
<div class="uk-section uk-section-secondary-light">
  <div class="uk-container uk-light">
    <div class="uk-text-center uk-margin-large-top" uk-grid>
      <div class="uk-width-1-4@m uk-margin-medium-bottom">
        <img src="img/cisf.png" alt="" height="150px" width="150px" />
        <p class="uk-text-left">
          CIFS believes in a quality based approach in terms of delivering on
          the highest standard of services to our clients. Our ISO 9001:2015
          standard as testimony to our quality driven moto
        </p>
      </div>
      <div class="uk-width-1-4@m uk-margin-medium-bottom icons-footer">
        <p class="uk-text-left uk-text-bold uk-text-large">
          EMAIL US
          <span
            uk-icon="icon: mail; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <form action="">
          <div class="uk-form-stacked">
            <div class="uk-margin-small">
              <div class="uk-form-control uk-margin-medium-top">
                <input
                  required
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Your name"
                  class="uk-input uk-form-large noSelect"
                />
              </div>
              <div class="uk-form-control uk-margin-medium-top">
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  required
                  placeholder="Your Email"
                  class="uk-input uk-form-large noSelect"
                />
              </div>
              <div class="uk-form-control uk-margin-medium-top">
                <textarea
                  required
                  name="message"
                  id="message"
                  class="uk-textarea"
                  placeholder="Your message"
                ></textarea>
              </div>

              <div class="uk-form-control uk-margin-medium-top">
                <button
                  type="submit"
                  class="uk-button uk-button-default noSelect uk-width-1-1"
                >
                  Post
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        class="uk-width-1-4@m uk-margin-medium-bottom icons-footer useful-links"
      >
        <p class="uk-text-left uk-text-bold uk-text-large">
          USEFUL LINKS
          <span
            uk-icon="icon: link; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <ul class="uk-list uk-list-disc uk-list-divider uk-text-left">
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >ATM Site Construction</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left">TIS</a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Electrical work</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Carpentry Furniture & Plumbing Work</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >ATM Shifting & Dismantling
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Refurbishment & Remodeling
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >SRM Work & Housekeeping
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Security & Housekeeping
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Certificates
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div
        class="uk-width-1-4@m uk-margin-medium-bottom icons-footer uk-text-left"
      >
        <p class="uk-text-left uk-text-bold uk-text-large">
          OUR LOCATIONS
          <span
            uk-icon="icon: location; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <p class="uk-text-left uk-text-bold">
          BIHAR | JHARKHAND | DELHI | WEST BENGAL | UTTAR PRADESH | NEW DELHI
        </p>
      </div>
    </div>
  </div>
</div>
