<nav
  class="uk-navbar-container"
  uk-sticky="show-on-up: true animation: uk-animation-slide-top;"
  uk-navbar
>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="navs"><a href="/" class="noSelect">Home</a></li>
      <li class="navs"><a href="/aboutus" class="noSelect">About Us</a></li>
      <li class="navs"><a href="/clients" class="noSelect">Clients</a></li>
      <li class="navs">
        <a href="/certification" class="noSelect">Certification</a>
      </li>
      <li class="navs">
        <a href="/awards" class="noSelect">Awards & Media</a>
      </li>
      <li class="navs">
        <a href="/current" class="noSelect">Current Affairs</a>
      </li>
      <li class="navs"><a href="/contactus" class="noSelect">Contact Us</a></li>
      <img class="uk-navbar-item uk-logo" src="img/cifs" alt="cifs-logo" />
    </ul>
  </div>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li
        class="
          uk-button-text
          noSelect
          uk-text-normal uk-position-left uk-margin-small-left
          navbarToggler
        "
      >
        <a
          class="uk-navbar-toggle noSelect"
          uk-navbar-toggle-icon
          uk-toggle="target: #offcanvas-push"
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div id="offcanvas-push" uk-offcanvas="mode: reveal; overlay: true">
  <button
    class="uk-offcanvas-close uk-close-large noSelect uk-button-text"
    type="button"
    uk-close
  ></button>
  <div class="uk-offcanvas-bar uk-flex uk-flex-row text-center">
    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li>
        <a href="/" class="uk-button-text noSelect"
          ><span class="noSelect"></span>HOME</a
        >
      </li>
      <li>
        <a href="/aboutus" class="uk-button-text noSelect"
          ><span class="noSelect"></span>ABOUT US</a
        >
      </li>

      <li>
        <a href="/clients" class="uk-button-text noSelect"
          ><span class="noSelect"></span>CLIENTS</a
        >
      </li>
      <li>
        <a href="/certification" class="uk-button-text noSelect"
          ><span class="noSelect"></span>CERTIFICATION</a
        >
      </li>
      <li>
        <a href="/awards" class="uk-button-text noSelect"
          ><span class="noSelect"></span>AWARDS & MEDIA</a
        >
      </li>
      <li>
        <a href="/current" class="uk-button-text noSelect"
          ><span class="noSelect"></span>CURRENT AFFAIRS</a
        >
      </li>
      <li>
        <a href="/contactus" class="uk-button-text noSelect"
          ><span class="noSelect"></span>CONTACT US</a
        >
      </li>

      <!-- <li>
        <a href="/users/login" class="uk-button-text noSelect"
        uk-toggle="target: #userslogout"
          ><span class=" noSelect"></span>Login/SignUp</a
        >
      </li>
      <li>
        <a href="/users/logout" class="uk-button-text noSelect"
        uk-toggle="target: #userslogout"
          ><span class=" noSelect"></span> Logout</a
        >
      </li> -->
    </ul>
  </div>
</div>
