<%- include('./partials/navbar.ejs'); %>

<div class="uk-section-black contactus parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/about.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">ABOUT US</h2>
        </div>
      </li>
      <li>
        <img src="/img/security.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center"></div>
      </li>
    </ul>
    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<div
  class="uk-section uk-section-secondary about-section-dark uk-light about-us"
>
  <!-- <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">ABOUT US</h1>
  <hr class="uk-divider-icon" /> -->
  <p class="uk-text-left uk-margin-medium-top">
    <span><strong>CENTRAL INVESTIGATION AND FACILITY SERVICES</strong></span>
    and CIFS Facility Services Pvt Ltd are leading and renowned provider of
    Security and Facility Management Solutions. Is the Parent Company which also
    consists of CIFS Facility Services Pvt. Ltd. is headquartered in Bihar,
    India. CIFS is committed to Total Quality Service, and also certified by
    International Quality Management Certification Board, i.e. ISO 9001:2015 its
    range of services.
  </p>
  <p>
    We specialize in providing comprehensive end-to-end outsourced solutions &
    service for the sectors where security and safety risks are considered a
    strategic threat, with domain knowledge & expertise in the assessment and
    management of facilities, security and safety risks for Corporate,
    Industries, townships, ATM’s. Point of Sale Terminals, Self Service kiosks,
    Infrastructure, Materials, Valuables and Peoples. We remain at the centre of
    all our customer challenges and work closely with our esteemed customers by
    continuously delighting them in all aspects of our relationship. Training is
    provided at the following training Centers -BIHAR, All Employees are also
    trained on the job as per specific facilities / requirement at the site.
    With pan India presence, CENTRAL INVESTIGATION AND FACILITY SERVICES
    provides services for single and multi-site facilities in a diverse range of
    business sectors like Corporate, Retail, Malls, Theatre, Industrial Units ,
    Real Estate , Hospitals, Residential Premises ,Hotels, Institutes, Banks &
    ATM’s and various Government undertakings.
  </p>
  <p class="uk-margin-bottom-medium">
    CIFS is having training and recruitment centers across India. Our every
    Regional headquarters are having full fledge training facilities strict
    compliance of all statutory regulation and provisions related to labor Laws.
    We are one stop solutions for all your Facilities Management needs Offers
    quality deliverables in the domain, Excellent track record of industrial
    relations and employee retention In-House and Onsite Training Payroll System
    Responsive Top Management Offer range for Soft and Hard Services
    Transformation from a lifestyle firm to total maintenance setup Service
    Partnership with all major Clientele exceeding 5 years We assure that you
    will find our services in line with your requirements. For any further
    clarifications please feel free to contact. Looking forward for a fruitful
    association.
  </p>
</div>

<div class="uk-section uk-section-default about-us">
  <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">
    OUR MISSION
  </h1>
  <hr class="uk-divider-icon" />
  <p class="uk-text-large uk-text-bold uk-text-left">
    Our mission is to build our reputation for integrity, excellence, and
    leadership as one of the finest and contracting organizations by:
  </p>
  <ul class="uk-list uk-list-disc uk-list-divider uk-text-left">
    <li>
      <p>Continuously improving the standards and quality of our services.</p>
    </li>
    <li><p>Constantly striving to exceed each client’s expectations.</p></li>
    <li>
      <p>Maintaining our dedication to the highest moral principles.</p>
    </li>
    <li>
      <p>Providing a challenging and secure environment for our people.</p>
    </li>
  </ul>
</div>

<div
  class="uk-section uk-section-secondary about-section-dark uk-light about-us"
>
  <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">
    OUR VISION
  </h1>
  <hr class="uk-divider-icon" />

  <p class="uk-margin-bottom-medium">
    To deliver the best tailored and seamless services to our clients with
    utmost responsi- bility, sincerity, professional honesty and assist our
    clients in enhancing the productivity with our prompt and reliable services.
    CIFS believes in a quality based approach in terms of delivering on the
    highest standard of services to our clients. Our ISO 9001:2015 standard as
    testimony to our quality driven moto.
  </p>
</div>

<!-- who we are -->
<div class="uk-section uk-section-default about-us">
  <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">
    WHO WE ARE
  </h1>
  <hr class="uk-divider-icon" />
  <p>
    CIFS covering all aspects of work in the area of Mechanical Installation
    TIS(Total Infrastructure)Including Full Electrical work, carpentry Work,
    Plumbing Services ATM Shifting, Dismantling, Grouting&De-grouting,
    Refurbishment, Remodeling, SRM Maintenance, Housekeeping, Installation work,
    and AC repair and installation, etc.
  </p>
  <p>
    During this time CIFS have become specialists in planned preventative
    maintenance as well as installation.
  </p>
  <p>
    Our Success is based on the Continues Commitment that CIFS gives to all our
    clients by continuously updating and developing our Services, and
    impotently, in this time of rising costs –A competitive pricing structure
  </p>
  <p>
    Our Consistency of work quality experienced mechanical &Electrical person,
    fast reliable 24-hour call out service, and preventative maintenance have
    also contributed towards the Successes to date of CIFS
  </p>
</div>

<div
  class="uk-section uk-section-secondary about-section-dark uk-light about-us"
>
  <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">
    WHAT WE ASSURE
  </h1>
  <hr class="uk-divider-icon" />
  <p class="uk-text-large uk-text-bold uk-text-left">
    We are able to provide reliable and strategic staffing solutions by aligning
    diversified and intricate HR and staffing needs of our clients.
  </p>
  <ul class="uk-list uk-list-disc uk-list-divider uk-text-left">
    <li>
      <p>
        To Work in - Sync with our clients for their global or local search
        requirements.
      </p>
    </li>
    <li>
      <p>To provide expertise during and after every assignment to adhere.</p>
    </li>
    <li>
      <p>To all norms and code of ethics of the clients work culture.</p>
    </li>
    <li>
      <p>To thoroughly check short listed candidates commitment.</p>
    </li>
  </ul>
</div>

<div class="uk-section uk-section-default about-us">
  <h1 class="uk-text-uppercase uk-margin-top-large uk-text-center">
    WORK EXPERIENCE
  </h1>
  <hr class="uk-divider-icon" />

  <ul class="uk-list uk-list-disc uk-list-divider uk-text-left">
    <li>
      <p>
        We are doing SRM and TIS work with different bank (ICICI, HDFC, BOB,
        ALLAHABAD BANK, OBC, FINO, PNB, IDBI, UTRAKARSH BANK, VAKRANGI ETC) on
        behalf of AGS Bihar & Jharkhand. (2014 to as on date).
      </p>
    </li>
    <li>
      <p>
        We are doing TIS and All Electrical work, carpentry Work, Plumbing
        Services, AC repair & Maintenances with AMC, furniture supply ETC Sbi
        life insurance Bihar & Jharkhand. (2014 to as on date)..
      </p>
    </li>
    <li>
      <p>We are doing SRM and TIS work Bob R O Patna. (2019 to as on date).</p>
    </li>
    <li>
      <p>
        We are doing SRM and TIS work with different bank (SBI / HDFC ETC) on
        behalf of FSS Bihar / Jharkhand / West Bengal / Uttar Pradesh / Delhi.
        (2020 to as on date).
      </p>
    </li>
    <li>
      <p>
        We are doing Housekeeping, SRM, and TIS work with different banks (SBI /
        BOI ETC) on behalf of CMS Bihar and Jharkhand. (2021 to as on date).
      </p>
    </li>
    <li>
      <p>
        We are about to do SRM and TIS work with different banks (SBI / BOI ETC)
        on behalf of EPS Bihar and Jharkhand. (2021 to as on date).
      </p>
    </li>
  </ul>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
