<%- include('./partials/navbar.ejs'); %>

<div class="uk-section uk-section-muted service-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="service-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top serviceimg">
            <img src="/img/atmserv.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      ATM SITE CONSTRUCTION INCLUDING CIVIL WORK
    </h1>
    <hr class="uk-divider-icon" />
    <p class="uk-text-left uk-text-break">
      The tenderer shall visit and inspect the site and obtain all information
      on his own responsibility and at own cost, which may be necessary for the
      purpose of quoting and submitting the tender. No excuse or ignorance as to
      site conditions and local information shall be accepted after awarding of
      the contract. All costs, charges & expenses that may be incurred in
      connection with the preparation of his tender shall be borne by him and
      the Institute accepts no liability whatsoever therefore. Failure by the
      tenderer to have done all the things, which in accordance with his
      condition he is deemed to have done shall not relieve the successful
      tenderer of the responsibility for satisfactory completion of the work as
      required.
    </p>
    <p class="uk-text-left uk-text-break">
      As caretakers we carry out regular checks of the ATM premises. Our
      representatives dutifully record and promptly report any equipment failure
      and other site problems to the concerned authorities for immediate
      attention. We ensure that the ATM premises are not encroached upon by
      squatters, hawkers and any other undesirable elements and maintain a
      visible presence so that customers are free to transact their business.
    </p>
    <ul class="uk-list uk-list-decimal uk-text-bold uk-margin-large-bottom">
      <li>
        <p class="uk-text-left">
          Arranging and replenishing publicity material supplied by the bank
          example banners, posters, leaflets, flyers, format etc.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Cleanliness of ATM sites, reporting non-functioning of the ATM and
          associated fitting for prompt redressal, as well as maintaining a log
          of breakdowns.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Providing access to the ATM site by authorized personnel of the
          service agency.
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
