<%- include('./partials/navbar.ejs'); %>

<div class="uk-section uk-section-muted service-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="service-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top serviceimg">
            <img src="/img/atmshift.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      ATM SHIFTING & DISMANTLING
    </h1>
    <hr class="uk-divider-icon" />

    <ul class="uk-list uk-list-decimal uk-text-bold uk-margin-large-bottom">
      <li>
        <p class="uk-text-left">
          Replacement of floor spring once in a year, or whenever required.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Replacement of main glass door including sections.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Minor POP work & painting of wall & ceiling once in a year.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Replenishment of consumables - journal Printer Rolls, Consumer Printer
          Rolls, Printer cartridges etc
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Clearing Media Jam in printer, ticket /coupon dispenser etc.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Logging of ATM kiosk status and reporting complaints for
          rectification.
        </p>
      </li>
      <li>
        <p class="uk-text-left">
          Coordinating Second Line Maintenance activities.
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
