<%- include('./partials/navbar.ejs'); %>

<div class="uk-section-black contactus parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/certificate.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            CERTIFICATION
          </h2>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<!-- certificates -->
<div class="uk-section certificate-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-2@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <!-- first certificate -->
      <div class="certificate-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="img/certificate.jpg" alt="certificate image" />
          </div>
          <div class="uk-card-body uk-text-center">
            <p class="uk-text-bold uk-text-center uk-text-break">
              CERTIFICATE NAME
            </p>
          </div>
        </div>
      </div>
      <!-- second card -->
      <div class="certificate-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="img/certificate.jpg" alt="certificate image" />
          </div>
          <div class="uk-card-body uk-text-center">
            <p class="uk-text-bold uk-text-center uk-text-break">
              CERTIFICATE NAME
            </p>
          </div>
        </div>
      </div>
      <!-- third card -->
      <div class="certificate-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="img/certificate.jpg" alt="certificate image" />
          </div>
          <div class="uk-card-body uk-text-center">
            <p class="uk-text-bold uk-text-center uk-text-break">
              CERTIFICATE NAME
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
