<%- include('./partials/navbar.ejs'); %>

<div class="uk-section-black contactus parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/contactus.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">CONTACT US</h2>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<div class="uk-section uk-section-auto">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-3@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
        uk-grid-match
      "
      uk-grid
    >
      <div>
        <div
          class="
            uk-card uk-card-default uk-card-contact uk-card-hover uk-card-hover
            page-details
          "
        >
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">EMAIL US</h4>
            <p>
              <span uk-icon="icon: mail; ratio: 2"></span>
            </p>
            <a
              href="mailto:info@cifsservices.com "
              class="uk-text-center uk-button uk-button-text uk-text-lowercase"
              >info@cifsservices.com</a
            >
            <hr />
            <a
              href="mailto: support@cifsservices.com"
              class="uk-text-center uk-button uk-button-text uk-text-lowercase"
              >support@cifsservices.com</a
            >
          </div>
        </div>
      </div>
      <!-- call us -->
      <div>
        <div
          class="
            uk-card uk-card-default uk-card-contact uk-card-hover uk-card-hover
            page-details
          "
        >
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">CALL US</h4>
            <p>
              <span uk-icon="icon: receiver; ratio: 2"></span>
            </p>
            <br />

            <a
              href="tel:9334982073"
              class="uk-text-center uk-button uk-button-text uk-text-lowercase"
              >+91-9334982073</a
            >
          </div>
        </div>
      </div>
      <!-- head office -->
      <div>
        <div
          class="
            uk-card uk-card-default uk-card-contact uk-card-hover uk-card-hover
            page-details
          "
        >
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">HEAD OFFICE</h4>
            <p>
              <span uk-icon="icon: location; ratio: 2"></span>
            </p>
            <br />

            <p class="uk-text-break uk-text-center">
              C/o Krishna Kumar, Rajiv Nagar Road no.24H, Patna-800024
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact us form -->
<div class="uk-section uk-section-secondary uk-light contact-form-section">
  <div class="uk-container">
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large">
      Contact us
    </h1>
    <hr />
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="contact-form-card">
        <div class="uk-card uk-card-secondary uk-card-hover">
          <div class="uk-card-body">
            <form action="">
              <div class="uk-form-stacked">
                <div class="uk-margin-small">
                  <div class="uk-form-control uk-margin-medium-top">
                    <input
                      required
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Your name*"
                      class="uk-input uk-form-large noSelect"
                    />
                  </div>
                  <div class="uk-form-control uk-margin-medium-top">
                    <input
                      required
                      type="email"
                      name="email"
                      id="email"
                      required
                      placeholder="Your Email*"
                      class="uk-input uk-form-large noSelect"
                    />
                  </div>
                  <div class="uk-form-control uk-margin-medium-top">
                    <input
                      required
                      type="url"
                      name="website"
                      id="website"
                      required
                      placeholder="Website*"
                      class="uk-input uk-form-large noSelect"
                    />
                  </div>
                  <div class="uk-form-control uk-margin-medium-top">
                    <textarea
                      required
                      name="message"
                      id="message"
                      class="uk-textarea"
                      placeholder="Your message*"
                      rows="8"
                    ></textarea>
                  </div>

                  <div class="uk-form-control uk-margin-medium-top">
                    <button
                      type="submit"
                      class="uk-button uk-button-danger noSelect uk-width-1-1"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
