<%- include('./partials/navbar.ejs'); %>

<!-- slider -->
<div class="uk-section-black uk-section parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/security.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            SECURITY SERVICES
          </h2>

          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
      <li>
        <img src="/img/atm.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            ATM SERVICES
          </h2>

          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
      <li>
        <img src="/img/manpower.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            MANPOWER STAFFING SERVICES
          </h2>

          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
      <li>
        <img src="/img/infra.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            TOTAL INFRASTRUCTURE
          </h2>
          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
      <li>
        <img src="/img/plumbing.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            CARPENTRY & PLUMBING WORK
          </h2>
          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>

      <li>
        <img src="/img/elec.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            ELECTRICAL WORK
          </h2>
          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
      <li>
        <img src="/img/keeping.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            SRM WORK & HOUSEKEEPING
          </h2>
          <a href="#" class="uk-button uk-button-default uk-margin-small-top"
            >KNOW MORE</a
          >
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<!-- what we offer -->
<div class="uk-section what-we-offer uk-section-auto">
  <div class="uk-container">
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      WHAT WE OFFER
    </h1>
    <hr class="uk-divider-icon" />
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-3@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/atmserv.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              ATM SITE CONSTRUCTION INCLUDING CIVIL WORK
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              ATM site construction includes handling all aspects of ATM's site
              construction on daily basis on behalf of banks.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/infrastruc.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">TOTAL INFRASTRUCTURE</h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Help our clients get total infrastructure built according to their
              requirements.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>

      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/electrical.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">ELECTRICAL WORK</h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Provide a workforce of skilled technicians.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/carpent.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              CARPENTRY FURNITURE AND PLUMBING WORK
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              We believe in providing the best workforce to our clients for the
              respective jobs.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/atmshift.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              ATM SHIFTING AND DISMANTLING
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              We provide suitable workforce to help with ATM shifting and its
              dismantling.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/grouting.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              GROUTING AND DE-GROUTING
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Supply skilled labours for the specified purpose such as grouting
              and de-grounting.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/refurb.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              REFURBISHMENT AND REMODELING
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Help our clients with a refurbishment and remodeling of their
              dreams with A grade quality.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/house.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              SRM WORK & HOUSEKEEPING
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Due to modern day need & requirement of our elite clients, we have
              expertise in all aspects of Housekeeping.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/man.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">SECURITY & MAN POWER</h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Over the years CIFS has built an enviable reputation as a reliable
              provider of security services and manpower.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
      <div class="homepage-card">
        <div class="uk-card uk-card-default uk-card-hover page-details">
          <div class="uk-card-media-top pageimg">
            <img src="img/ac.jpg" alt="detail image"">
          </div>
          <div class="uk-card-body uk-text-center">
            <h4 class="uk-card-title uk-text-center">
              AC REPAIR & MAINTENANCE
            </h4>
            <p class="uk-text-meta uk-text-center uk-text-break">
              Provide skilled engineers for AC repair and maintenance.
            </p>
          </div>
          <div class="uk-card-footer uk-text-center">
            <a
              href="#"
              class="uk-text-center uk-button uk-button-primary noSelect"
              >View More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- info section -->
<div class="uk-section uk-section-primary">
  <div class="uk-container uk-light">
    <p class="uk-text-center uk-text-large uk-text-bolder uk-margin-medium-top">
      CIFS
    </p>
    <hr />
    <div class="uk-text-center" uk-grid>
      <div class="uk-width-2-3@s uk-margin-medium-bottom">
        <p class="uk-text-left">
          CENTRAL INVESTIGATION AND FACILITY SERVICES is a leading and renowned
          provider of Security and Facility Management Solutions.
        </p>
        <p class="uk-text-left">
          Is the Parent Company which also consists ofCIFS Facility Services
          Pvt. Ltd CIFS is headquartered in Bihar, India.
        </p>
        <p class="uk-text-left">
          Is the Parent Company which also consists ofCIFS Facility Services
          Pvt. Ltd CIFS is headquartered in Bihar, India.
        </p>
        <p class="uk-text-left">
          CIFS is committed to Total Quality Service, and also certified by
          International Quality Management Certification Board, i.e. ISO
          9001:2015 its range of services.
        </p>
        <br />
        <p class="uk-text-left">
          We specialize in providing comprehensive end-to-end outsourced
          solutions & service for the sectors where security and safety risks
          are considered a strategic threat, with domain knowledge & expertise
          in the assessment and management of facilities, security and safety
          risks for Corporate , Industries , townships , ATM’s. Point of Sale
          Terminals, Self Service kiosks,Infrastructure,Materials, Valuables and
          Peoples. We remain at the centre of all our customer challenges and
          work closely with our esteemed customers by continuously delighting
          them in all aspects of our relationship. Training is provided at the
          following training Centers -BIHAR, All Employees are also trained on
          the job as per specific facilities / requirement at the site. With pan
          India presence, CENTRAL INVESTIGATION AND FACILITY SERVICES provides
          services for single and multi-site facilities in a diverse range of
          business sectors like Corporate, Retail, Malls, Theatre, Industrial
          Units , Real Estate , Hospitals, Residential Premises ,Hotels,
          Institutes, Banks & ATM’s and various Government undertakings.
        </p>
        <br />
        <p class="uk-text-left">
          CIFS is having training and recruitment centers across India. Our
          every Regional headquarters are having full fledge training facilities
          strict compliance of all statutory regulation and provisions related
          to labor Laws. We are one stop solutions for all your Facilities
          Management needs Offers quality deliverables in the domain, Excellent
          track record of industrial relations and employee retention In-House
          and Onsite Training Payroll System Responsive Top Management Offer
          range for Soft and Hard Services Transformation from a lifestyle firm
          to total maintenance setup Service Partnership with all major
          Clientele exceeding 5 years We assure that you will find our services
          in line with your requirements. For any further clarifications please
          feel free to contact. Looking forward for a fruitful association.
        </p>
      </div>
      <div
        class="uk-width-1-3@s uk-margin-large-bottom uk-text-center info-link"
      >
        <a
          href="/aboutus"
          class="uk-button uk-button-default uk-text-center noSelect"
          >KNOW MORE</a
        >
      </div>
    </div>
  </div>
</div>

<!-- clients -->
<div class="uk-section our-clients">
  <div class="uk-container">
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      OUR CLIENTS
    </h1>
    <hr class="uk-divider-icon" />
    <div uk-slider="autoplay: true; autoplay-interval: 1000">
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
      >
        <ul
          class="
            uk-slider-items
            uk-child-width-1-2
            uk-child-width-1-3@s
            uk-child-width-1-4@m
          "
        >
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>1</h1></div>
          </li>
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>2</h1></div>
          </li>
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>3</h1></div>
          </li>
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>4</h1></div>
          </li>
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>5</h1></div>
          </li>
          <li>
            <img src="img/refurb.jpg" alt="" />
            <div class="uk-position-center uk-panel"><h1>6</h1></div>
          </li>
        </ul>

        <a
          class="uk-position-center-left uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slider-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slider-item="next"
        ></a>
      </div>

      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</div>

<!-- google map -->

<!-- bottom section -->
<div class="uk-section uk-section-secondary-light">
  <div class="uk-container uk-light">
    <div class="uk-text-center uk-margin-large-top" uk-grid>
      <div class="uk-width-1-4@m uk-margin-medium-bottom">
        <p class="uk-text-left">
          CIFS believes in a quality based approach in terms of delivering on
          the highest standard of services to our clients. Our ISO 9001:2015
          standard as testimony to our quality driven moto
        </p>
      </div>
      <div class="uk-width-1-4@m uk-margin-medium-bottom icons-footer">
        <p class="uk-text-left uk-text-bold uk-text-large">
          EMAIL US
          <span
            uk-icon="icon: mail; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <form action="">
          <div class="uk-form-stacked">
            <div class="uk-margin-small">
              <div class="uk-form-control uk-margin-medium-top">
                <input
                  required
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Your name"
                  class="uk-input uk-form-large noSelect"
                />
              </div>
              <div class="uk-form-control uk-margin-medium-top">
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  required
                  placeholder="Your name"
                  class="uk-input uk-form-large noSelect"
                />
              </div>
              <div class="uk-form-control uk-margin-medium-top">
                <textarea
                  required
                  name="message"
                  id="message"
                  class="uk-textarea"
                  placeholder="Your message"
                ></textarea>
              </div>

              <div class="uk-form-control uk-margin-medium-top">
                <button
                  type="submit"
                  class="uk-button uk-button-default noSelect uk-width-1-1"
                >
                  Post
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        class="uk-width-1-4@m uk-margin-medium-bottom icons-footer useful-links"
      >
        <p class="uk-text-left uk-text-bold uk-text-large">
          USEFUL LINKS
          <span
            uk-icon="icon: link; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <ul class="uk-list uk-list-disc uk-list-divider uk-text-left">
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >ATM Site Construction</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left">TIS</a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Electrical work</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Carpentry Furniture & Plumbing Work</a
            >
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >ATM Shifting & Dismantling
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Refurbishment & Remodeling
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >SRM Work & Housekeeping
            </a>
          </li>
          <li>
            <a href="" class="uk-button uk-button-text uk-text-left"
              >Security & Housekeeping
            </a>
          </li>
        </ul>
      </div>
      <div
        class="uk-width-1-4@m uk-margin-medium-bottom icons-footer uk-text-left"
      >
        <p class="uk-text-left uk-text-bold uk-text-large">
          OUR LOCATIONS
          <span
            uk-icon="icon: location; ratio: 2"
            class="uk-margin-small-left"
          ></span>
        </p>
        <p class="uk-text-left uk-text-bold">
          BIHAR | JHARKHAND | DELHI | WEST BENGAL | UTTAR PRADESH | NEW DELHI
        </p>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<%- include('./partials/footer.ejs'); %>
