<%- include('./partials/navbar.ejs'); %>

<div class="uk-section uk-section-muted service-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="service-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top serviceimg">
            <img src="/img/refurb.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Refurbishment & Remodeling
    </h1>
    <hr class="uk-divider-icon" />
    <p class="uk-text-left uk-text-break">
      CIFS helps to restoring a building to an improved condition. This means
      replacing and upgrading present components to meet the required standards
      without altering the original design.
    </p>
    <p class="uk-text-left uk-text-break">
      Usually, renovation projects are done to increase the value of buildings
      on sale and are often shorter with a lower budget compared to other
      projects. They have little to no effect on the layout and structure of the
      building.
    </p>

    <p class="uk-text-left">
      Before any renovation project, consider the age, condition, and structure
      of a building. Have an expert look it up and give you a go-ahead.
    </p>

    <p class="uk-text-left">
      And Also helps repairing the structures that might have been damaged or
      broken in order to restore the building to its tip-top condition. For
      example, this may involve fixing the light and plumbing fixtures,
      repairing cracks in the wall, and updating an old ceiling.
    </p>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
