<%- include('./partials/navbar.ejs'); %>

<div class="uk-section uk-section-muted service-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="service-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top serviceimg">
            <img src="/img/house.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      SRM work & Housekeeping
    </h1>
    <hr class="uk-divider-icon" />
    <p class="uk-text-left uk-text-break">
      Housekeeping includes housecleaning that is, disposing of rubbish,
      cleaning dirty surfaces, dusting, and vacuuming. It may also involve some
      outdoor chores, such as removing leaves from rain gutters, washing
      windows, and sweeping doormats. The term housecleaning is often used also
      figuratively in politics and business, for the removal of unwanted
      personnel, methods, or policies in an effort at reform or improvement.
    </p>
    <p class="uk-text-left uk-text-break">
      Housecleaning is done to make the home look and smell better and to make
      it safer and easier to live in. Without housecleaning, lime scale can
      build upon taps, mold grows in wet areas, smudges appear on glass
      surfaces, dust forms on surfaces, bacterial action makes the garbage
      disposal and toilet smell and cobwebs accumulate. Tools used in
      housecleaning include vacuums, brooms, mops and sponges, together with
      cleaning products such as detergents, disinfectants and bleach
    </p>

    <p class="uk-text-left">
      Our housekeeping staff are experienced & trained in maintaining hygienic
      practice. Right from the personal appearance and hygienic to their conduct
      and professional approach in each aspect is scrutinized carefully.
    </p>

    <p class="uk-text-left">
      Good equipment & machinery are always given priority and we have always
      maintained our standards such as PF, ESIC, Welfare Fund, and Service Tax
      etc. are strictly adhered to. Housekeeping services are availed by clubs.
      Commercial Establishment, Factories, Guesthouses, Govt. Organizations,
      Hospitals, Hotels, Housing Societies, Institutes, Malls, Restaurant,
      Service Apartments and Theatres etc.
    </p>
    <p class="uk-text-left uk-text-bold uk-text-medium">
      We undertake the following services:
    </p>
    <ul class="uk-list uk-list-decimal uk-text-bold uk-margin-large-bottom">
      <li>
        <p class="uk-text-left">Cleaning, Mopping & Disinfection</p>
      </li>
      <li>
        <p class="uk-text-left">Sweeping & Sanitizing Toilets</p>
      </li>
      <li>
        <p class="uk-text-left">Jet wash & High Pressure Cleaning</p>
      </li>
      <li>
        <p class="uk-text-left">
          Polishing & Façade Cleaning We also place great importance on training
          our staff in soft skills for dealing with guests and in high net worth
          clients.
        </p>
      </li>
    </ul>
    <p class="uk-text-left uk-text-large">Training & More:</p>
    <p class="uk-text-left">
      We arrange and co-ordinate orientation programme for hospitality services
      Personnel. The synergy between our trained professionals and high end
      technology results is daily monitoring of our services
    </p>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
