<%- include('./partials/navbar.ejs'); %>

<div class="uk-section uk-section-muted service-section">
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-1@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div class="service-card">
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top serviceimg">
            <img src="/img/infrastruc.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <h1 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      TOTAL INFRASTRUCTURE
    </h1>
    <hr class="uk-divider-icon" />
    <p class="uk-text-left uk-text-break">
      Total Infrastructure is a CIFS based consulting firm focused on supporting
      the pipeline industry with asset integrity, engineering and data
      management services tailored to meet customer needs.
    </p>
    <p class="uk-text-left uk-text-break">
      Our team is comprised solely of former pipeline operators, who have spent
      a majority of their careers in leadership roles with direct
      responsibilities for the type of services we provide. In essence, Total
      Infrastructure appears as an operator without assets, and we believe this
      is a strategic advantage and differentiator in a crowded service
      marketplace.
    </p>
  </div>
</div>

<!-- bottom section -->
<%- include('./partials/bottomSec.ejs'); %>
<!-- footer -->
<%- include('./partials/footer.ejs'); %>
